In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from patsy import dmatrices
import statsmodels.api as sm
import seaborn as sns
%matplotlib inline

In [2]:
# Import each dataset
math_df = pd.read_csv('student-mat.csv', sep=';')
port_df = pd.read_csv('student-por.csv', sep=';')

In [3]:
# Get list of column/feature names for each
m_cols = math_df.columns
p_cols = port_df.columns

In [4]:
# Check if columns in each are identical
(m_cols == p_cols).all()

True

In [5]:
cols = list(m_cols)

In [6]:
# Remove the variables that differentiate Portuguese/Math students
for col in ['G1', 'G2', 'G3']:
    cols.remove(col)

In [8]:
# Make a merged dataframe of rows with features values that are identical across P/M
# AKA... DataFrame of students who are in BOTH classes
both_df = math_df.merge(port_df, left_on = cols, right_on = cols)
# --> 39 rows (students in both), 36 columns

both_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc,Walc,health,absences,G1_x,G2_x,G3_x,G1_y,G2_y,G3_y
0,GP,M,16,U,LE3,T,2,2,other,other,...,1,1,3,0,12,12,11,13,12,13
1,GP,M,15,U,GT3,A,2,2,other,other,...,1,1,3,0,14,16,16,14,14,15
2,GP,M,15,U,GT3,T,4,3,teacher,other,...,1,1,1,0,13,14,15,12,13,14
3,GP,M,15,U,GT3,T,4,4,health,health,...,1,1,5,0,12,15,15,11,12,12
4,GP,M,15,U,GT3,T,4,4,health,services,...,3,4,5,0,9,11,12,10,11,11

In [9]:
math_only_df = pd.merge(math_df, both_df, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
print(math_only_df.shape)
math_only_df.head()

(356, 39)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,absences,G1,G2,G3,G1_x,G2_x,G3_x,G1_y,G2_y,G3_y
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,6,5,6,6,NaN,NaN,NaN,NaN,NaN,NaN
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,4,5,5,6,NaN,NaN,NaN,NaN,NaN,NaN
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,10,7,8,10,NaN,NaN,NaN,NaN,NaN,NaN
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,15,14,15,NaN,NaN,NaN,NaN,NaN,NaN
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,6,10,10,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
port_only_df = pd.merge(port_df, both_df, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
print(port_only_df.shape)
port_only_df.head()

(610, 39)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,absences,G1,G2,G3,G1_x,G2_x,G3_x,G1_y,G2_y,G3_y
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,0,11,11,NaN,NaN,NaN,NaN,NaN,NaN
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,2,9,11,11,NaN,NaN,NaN,NaN,NaN,NaN
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,6,12,13,12,NaN,NaN,NaN,NaN,NaN,NaN
3,GP,F,15,U,GT3,T,4,2,health,services,...,0,14,14,14,NaN,NaN,NaN,NaN,NaN,NaN
4,GP,F,16,U,GT3,T,3,3,other,other,...,0,11,13,13,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Create new columns for each... w/ dummy variables
tests = ['G1', 'G2', 'G3']
test_interactions = ['math_G1', 'math_G2', 'math_G3', 'port_G1', 'port_G2', 'port_G3']
dfs = [both_df, math_only_df, port_only_df]
categories = ['both', 'math', 'port']

In [33]:
def make_interaction_test_features(tests, test_interactions, dfs, categories):
    
    for idx, df in enumerate(dfs):
        # Make dummy vars for whether or not student is in math, port, and/or both
        for cat in categories:
            # both_df at index 0, so we know we're on both_df
            if idx == 0:
                # all categories = 1
                df[cat] = 1
                # Set test interactions
                for test in tests:
                    # both_df has both test scores; math marked by '_x' and port by '_y'
                    if cat == 'math':
                        key_term = test + '_x'
                        int_term = cat + '_' + test
                        it_value = df[key_term]
                        df[int_term] = it_value
                    elif cat == 'port':
                        key_term = test + '_y'
                        int_term = cat + '_' + test
                        it_value = df[key_term]
                        df[int_term] = it_value
            # math_only_df at index 1, port_only_df at idx 2, so we know we're on either of those
            elif (idx == 1 and cat == 'math') or (idx == 2 and cat == 'port'):
                df[cat] = 1
                for test in tests:
                    int_term = cat + '_' + test
                    df[int_term] = df[test]
            else:
                df[cat] = 0
                for test in tests:
                    int_term = cat + '_' + test
                    df[int_term] = 0            
            
        # Drop columns that are no longer needed
        if idx == 0:
            df.drop(['G1_x', 'G2_x', 'G3_x', 'G1_y', 'G2_y', 'G3_y'], axis=1, inplace=True)
        else:      
            df.drop(['G1', 'G2', 'G3'], axis=1, inplace=True)   

    # Add unique id for each row
    firstpoint = both_df.shape[0] + 1
    midpoint = port_only_df.shape[0] + firstpoint
    lastpoint = math_only_df.shape[0] + midpoint

    both_df['id'] = range(1, firstpoint)
    port_only_df['id'] = range(firstpoint,  midpoint)
    math_only_df['id'] = range(midpoint, lastpoint)

    joined_df = both_df.append(port_only_df.append(math_only_df, ignore_index=True, sort=False), ignore_index=True, sort=False)

    return joined_df

In [34]:
# Check shapes....
print(both_df.shape)
print(port_only_df.shape)
print(math_only_df.shape)

(39, 39)
(610, 39)
(356, 39)

In [35]:
df = make_interaction_test_features(tests, test_interactions, dfs, categories)
print(df.columns)
df.head()

KeyError: 'G1_x'